.nav-container {
  display: grid;
  height: 5rem;
  grid-template-columns: 50% 50%;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 1rem;
  /* justify-content: center; */
  align-items: center;
  /* place-items: center; */
}

.left-buttons {
  display: flex;
  height: 2rem;
  margin-left: 1rem;
  align-items: center;
  justify-self: flex-start;
}

.info-container {
  display: grid;
  grid-template-columns: 75% auto;
  gap: 1rem;
  margin-right: 3rem;
}

.info-text-container {
  display: grid;
  grid-template-rows: 50% 50%;
  margin-right: 0.5rem;
  justify-content: flex-end;
  align-self: center;
}

.info-button-container {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 0.3rem;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
}

button {
  border-radius: 0.5rem;
}
