:root {
  background-color: rgb(124, 124, 124);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-image: url("/warehouse.png");
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
}

input {
  color: rgb(68, 68, 68);
}
